.bar {
    .bar-element {
        display: inline-block;
        vertical-align: middle;
    }

    .back-arrow {
        height: 24px;
        margin-right: 20px;
    }
}

.page-content {
    padding: 20px;
}
